# only when we have src code
# useDynLib("restriktor")

importFrom("lavaan",
           lavParseModelString,
           lav_constraints_parse)

importFrom("MASS",
           lqs,
           psi.bisquare)

importFrom("mvtnorm",
           pmvnorm)

importFrom("quadprog",
           solve.QP)

importFrom("boot",
           boot,
           boot.ci)

#importFrom("sandwich",
#           vcovHC)

# export ordinary functions defined in this package
export("restriktor", "conLM.lm", "conLM.default",
       "conTest", #"conTestF","conTestLRT",
       "conTestF.lm", "conTestLRT.lm",
       "conTestEq.lm",
       "print.conLM", "summary.conLM", 
       "print.conTest", #"summary.conTest", 
       "coef.conLM",
       "conRLM.rlm", #"summary.conRLM",
       "con_constraints_ceq_amat",
       "con_constraints_cin_amat",
       "con_constraints_con_amat",
       "lav_partable", "pchibar", "pfbar")
