# only when we have src code
# useDynLib("restriktor")

importFrom("lavaan",
           lavParseModelString,
           lav_constraints_parse,
           lav_func_jacobian_complex)

importFrom("mvtnorm",
           rmvnorm)

importFrom("quadprog",
           solve.QP)

importFrom("boot",
           boot,
           boot.ci)

importFrom("zoo",
           is.zoo)

importFrom("ic.infer",
           #nchoosek, NOT EXPORTED!
           ic.weights)

# export ordinary functions defined in this package
export("restriktor", 
       "conLM.lm", "conRLM.rlm", 
       "conTest", "conTestC.conLM", "conTestF.conLM", "conTestF.conRLM", 
       "conTestLRT.conLM", "conTestScore.conLM", "conTestEq.conLM",
       "conTestEq.conRLM", "conTestScore.conRLM", "conTestWald.conRLM", 
       "goricWeights", "print.conLM", "summary.conLM", "summary.conTest.conLM",
       "print.summary.conLM", "print.conTest", 
       "coef.conLM", "model.matrix.conLM",
       "goricWeights")
